div {
  height: 100%;
  display: flex;
  .header {
    position: absolute;
    height: 4rem;
    width: 100%;
    background-color: red;
  }
  .body {
    width: 100%;
    background: rgb(207, 224, 247);
    -webkit-transition: background 0.3s ease-in;
    -moz-transition: background 0.3s ease-in;
    -o-transition: background 0.3s ease-in;
    transition: background 0.3s ease-in;
    &.dark {
      background: rgb(38, 44, 61);
      color: white;
    }
  }
  .footer {
  }
}

@media screen and (min-width: 768px) {
  div {
    .header {
      height: 3rem;
    }
  }
}
